body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

#trending {
    background-color: #f8f9fa;
    padding: 20px 0;
}

#movies .card {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #efeded;
    background-color: #ca1f1f;
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}
