body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

#trending {
    background-color: #f8f9fa;
    padding: 20px 0;
}

#movies .card {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #efeded;
    background-color: #ca1f1f;
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}
.custom-navbar {
    background-color: rgb(10, 25, 47) !important;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Optional for better readability */
    border-radius: 8px;
}
