body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}


#movies .card {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #efeded;
    background-color: #ca1f1f;
}

.custom-navbar {
    background-color: rgb(10, 25, 47) !important;
}


#trending {
    height: 500px;
    margin: 0;
    padding: 0;
}

#trendingCarousel {
    height: 500px;
}

#trendingCarousel .carousel-inner,
#trendingCarousel .carousel-item,
#trendingCarousel .carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}


/* Navbar Styles */
:root {
    --primary-color: #00bfff;
    --secondary-color: #ff00ff;
    --dark-bg: #121212;
    --card-bg: #1e1e1e;
    --text-primary: #f1f1f1;
    --text-secondary: #aaa;
    --dark-blue: #302454;
    --right-color: #ac0ef0;
    --left-color: #7025bcd7;
}

.navbar {
    background: linear-gradient(to right, var(--left-color), var(--dark-blue));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-bottom: 50rem;
}

.nav2 {
    background: linear-gradient(to right, var(--dark-blue), var(--right-color));
}

.navbar.scrolled {
    padding: 0.5rem 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-brand,
.navbar-light .nav-link,
.navbar-light .form-control {
    color: var(--text-primary);
}

.navbar-dark .nav-link {
    color: var(--text-primary) !important;
}

.form-control,
.form-select {
    background-color: #2a2a2a;
    color: var(--text-primary);
    border: 1px solid #444;
}

.form-control::placeholder {
    color: var(--text-secondary);
}

/* Logo Styles */
.logo {
    height: 4em;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.logo>img {
    width: 80%;
    height: auto;
    transition: all 0.3s;
}

.navbar.scrolled .logo>img {
    width: 70%;
}